
body{
	background-image: url('../images/pizza.png');
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
}

#title {
	color: black;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	text-shadow: -5px 0 white;
	}

input {
	padding: 10%;
	width: 30%;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	margin: 50px 30px;
	border: 1px solid yellow;
	box-shadow: none;
	padding: 10px;
	border-radius: 25px;

}

select {
	padding: 10%;
	height: 35px;
	width: 30%;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	margin: 50px 30px;
	border: 1px solid yellow;
	box-shadow: none;
	padding: 10%;
	border-radius: 25px;

}

#inputs {
	display: center;
}

button {
	width: 200px;
	background-color: #a11d0e;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: white;
	margin: 20px 0;
	border: 1px solid yellow;
	box-shadow: none;
	padding: 10px;
	border-radius: 25px;

}

#submit {
    cursor: url("../images/sliceofpizza.png"), auto;
  }


#output {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;

}

#container {
	background-color:rgba(211, 211, 211,0.7);
	/*opacity: 0.6;*/
	padding: 10%;
	margin: 10%;
	border-radius: 25px;
	border: 2px solid white;
	text-align: center;
}

@media screen and (max-width: 940px){
	input {
		width: 75%;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		margin: 20px 30px;
		border: 1px solid yellow;
		box-shadow: none;
		border-radius: 25px;

	}

	select {
		padding: 10%;
		height: 35px;
		width: 75%;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		margin: 20px 30px;
		border: 1px solid yellow;
		box-shadow: none;
		border-radius: 25px;

	}

	#inputs {
	display: center;
}

}; 
